---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Menu from '../components/Menu.astro';
import ImageSlider from '../components/ImageSlider.astro';
import About from '../components/About.astro';
import Reservation from '../components/Reservation.astro';
import Contact from '../components/Contact.astro';
import Map from '../components/Map.astro';
import CompleteMenu from '../components/CompleteMenu.astro';
---

<Layout title="Delicious Restaurant-Bar">
	<main>
		<Hero />
		<Menu />
		<CompleteMenu />
		<ImageSlider />
		<About />
		<Reservation />
		<Map />
		<Contact />
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
		color: #333;
		font-size: 20px;
		line-height: 1.6;
	}
</style>