<section class="p-2">
    <a href="https://670716afc191c60d1a2ddbf3--deliciousgml.netlify.app" class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-accent ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Conoce Nuesto Menú Completo!</a>
</section>