<section class="p-2">
    <a href="https://drive.google.com/file/d/1KMHdgW-wcNduItV9O9IzWtEaJ6FI6gO0/view?usp=sharing" class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-red ring-1 ring-inset ring-indigo-200 hover:ring-indigo-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Conoce Nuesto Menú Completo!</a>
</section>