

<footer class="py-6 text-center">
    <div class="flex justify-center space-x-6">
      <a href="https://https://www.instagram.com/deliciousrestaurantbar/" target="_blank" rel="noopener noreferrer" class="hover:opacity-80">
        <img src="src/img/Instagram_icon.png" alt="Instagram" class="w-8 h-8" />
      </a>
      <a href="https://www.facebook.com/deliciousrestaurantbargml?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer" class="hover:opacity-80">
        <img src="src/img/Facebook_f_logo_(2019).svg" alt="Facebook" class="w-8 h-8" />
      </a>
      <a href="https://wa.me/526731166935" target="_blank" rel="noopener noreferrer" class="hover:opacity-80">
        <img src="src/img/WhatsApp.svg" alt="WhatsApp" class="w-8 h-8" />
      </a>
    </div>
  </footer>
  