---
---
<section id="reservation" class="reservation">
  <h2>¡Reserva una Mesa!</h2>
  <form action="https://formsubmit.co/deliciousrestaurantbar2@gmail.com" method="POST">
    <input type="hidden" name="_subject" value="Una Nueva Reservación">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="Nombre" required>
    </div>
    <div class="form-group">
      <label for="phone">Telefono:</label>
      <input type="tel" id="phone" name="Telefono" required>
    </div>
    <div class="form-group">
      <label for="date">Fecha:</label>
      <input type="date" id="date" name="Fecha" required>
    </div>
    <div class="form-group">
      <label for="time">Hora:</label>
      <input type="time" id="time" name="Hora" required>
    </div>
    <div class="form-group">
      <label for="guests">Numero de Personas:</label>
      <input type="number" id="guests" name="Personas" min="1" max="20" required>
    </div>
    <button type="submit">¡Reserva Ahora!</button>
  </form>
</section>

<style>
  .reservation {
    background-color: var(--bg-color);
    padding: 2rem;
    text-align: center;
    color: white;
    
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 24px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: rgb(43, 43, 43);
  }
  button{
    background-color: var(--accent-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: var(--accent-dark);
  }
</style>